{% extends "layout.html" %}
{% block content %}
    <h1>Images Shared with You</h1>
        {% for img in model["shared_images"] %}
            <div class="row">
                <img src="{{ url_for('static', filename=img.image.filename)}}"/>
            </div>
        {% endfor %}
    <hr>

    <h1>Your Images</h1>
        {% for img in model["own_images"] %}
            <div class="row">
                <img src="{{ url_for('static', filename=img.filename)}}"/>
            </div>
        {% endfor %}

    <hr>

    <h2>Upload image</h2>

    <form action="/upload_image" method="post" enctype="multipart/form-data">
        <input type="file" name="image_upload" accept="image/*">
        <input type="submit">
    </form>

{% endblock %}