{% extends "layout.html" %}
{% block content %}
    <h2>Images Shared with You</h2>
    <div class="container">
        <div class="row">
    {% if model["shared_images"].first() == None %}
            No images have been shared with you. :(
    {% else %}
    {% for img in model["shared_images"] %}

            <a href="/images/{{img.image.username}}/{{img.image.filename}}"> <img src="{{ url_for('static', filename="images/" + img.image.username + "/" + img.image.filename)}}"/></a>
    {% endfor %}
    {% endif %}
        </div>
    </div>

    <hr>

    <h2>Your Images</h2>
    <div class="container">
        <div class="row">
    {% if model["own_images"].first() == None %}
            No images have been shared with you. :(
    {% else %}
    {% for img in model["own_images"] %}
           <a href="/images/{{img.username}}/{{img.filename}}"> <img src="{{ url_for('static', filename="images/" + img.username + "/" + img.filename)}}"/> </a>
    {% endfor %}
    {% endif %}
        </div>
    </div>


    <div class="bottom-upload">
        <div class="container">
        <h3>Upload Image</h3>

        <form action="/upload_image" method="post" enctype="multipart/form-data">
            <input type="file" name="image_upload" accept="image/*">
            <input type="submit">
        </form>
        </div>
    </div>

{% endblock %}