{% extends "layout.html" %}
{% block content %}
<h1>Sign In</h1>

<form action="" method="post" enctype="multipart/form-data">
    <h2>Username</h2>
    <input type="text" name="username">
    <h2>Password</h2>
    <input type="password" name="password">
    {{ form.hidden_tag() }}

    {% for error, detailed in form.errors.items() %}
        <li style="color: red; list-style: none">{{ error }}: {{ ",".join(detailed) }}</li>
    {% endfor %}
    <input type="submit">
</form>

<a href="{{ url_for('register') }}">Register a new user.</a>
{% endblock %}